[user]
  name = Eddie Kao
  email = eddie@digik.com.tw
[core]
  excludesfile = /Users/eddie/.gitignore_global
  autocrlf = false
  quotepath = false
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Apps/Development/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
  co = checkout
  br = branch
[gui]
  encoding = utf-8
[i18n]
  commitencoding = utf-8
